In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

### Define a JSON STRING

In [4]:
json_string = [
    {"Name":"Mehdi", "Province":"ON", "Total":"1450"},
    {"Name":"Mo", "Province":"??", "Total":"1050"},
    {"Name":"Dan Green", "Province":"CA", "Total":"2250"}
]
json_string

[{'Name': 'Mehdi', 'Province': 'ON', 'Total': '1450'},
 {'Name': 'Mo', 'Province': '??', 'Total': '1050'},
 {'Name': 'Dan Green', 'Province': 'CA', 'Total': '2250'}]

In [9]:
json.load((open('data/world_bank_projects_less.json')))
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en