# 3.2 Data Cleaning with Pandas

### This section is based off the lecture given by Mali Akmanalp in PyCon 2015 Lecture. 
https://www.youtube.com/watch?v=_eQ_8U5kruQ

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading in Data
##### Specify Encoding for Safety, puts specail characters in proper format for your machine
##### Specify the na_values for your safety aswell.
##### Side note : Kinds of nothing -> NO DATA == None 
#####                                                 -> Null Values = "" or 0
##### Convert Custon N/A values by df.replace("NaN", None)  OR df.dropna() simply drops the null values. Can also fill null values with fillna() with backfill or forwardfill. Interpolate also which takes average of values before and after instead of forward or backwardfill.

In [16]:
msg = df_militarySurplusGear = pd.read_csv("military-surplus-gear.csv", encoding="utf-8", na_values=["N/A","Unknown"])
msg.head()

,State,County,NSN,Item Name,Quantity,UI,Acquisition Cost,Ship Date
0,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
1,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
2,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
3,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
4,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00

##### All Columns in Data Frame

In [17]:
msg.columns

Index(['State', 'County', 'NSN', 'Item Name', 'Quantity', 'UI',
       'Acquisition Cost', 'Ship Date'],
      dtype='object')

#### Summary Statistics (describe only does work on the numerical columns.)

In [18]:
msg.describe()

           Quantity
count  73028.000000
mean      15.006792
std      384.623930
min        1.000000
25%        1.000000
50%        1.000000
75%        5.000000
max    91000.000000

In [19]:
msg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73028 entries, 0 to 73027
Data columns (total 8 columns):
State               73028 non-null object
County              73028 non-null object
NSN                 72983 non-null object
Item Name           71732 non-null object
Quantity            73028 non-null int64
UI                  72046 non-null object
Acquisition Cost    73028 non-null object
Ship Date           73028 non-null object
dtypes: int64(1), object(7)
memory usage: 4.5+ MB

###### Obviously types are very important, "5" is not the same as 5. For example, currently in this data set the Acquisition cost is 499.99 Dollars in a string instead of the float value 499.99

### Convertying Types
##### Type conversion can be do with .astype(int) or astype(float) ect.

## Playing with Data

In [21]:
msg.State.head()

0    AK
1    AK
2    AK
3    AK
4    AK
Name: State, dtype: object

In [23]:
msg["State"].head()

0    AK
1    AK
2    AK
3    AK
4    AK
Name: State, dtype: object

Obviosly it is good to have column names with no Spaces, and is worth the time renaming that so columns have no spaces.

In [26]:
msg.rename(columns={"Acquisition Cost":"aCost"}, inplace=True)
msg.head()

,State,County,NSN,Item Name,Quantity,UI,aCost,Ship Date
0,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
1,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
2,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
3,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00
4,AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,$499.00,2012-08-30 0:00

In [28]:
msg[["State", "County"]].head()

  State                     County
0    AK  ANCHORAGE
1    AK  ANCHORAGE
2    AK  ANCHORAGE
3    AK  ANCHORAGE
4    AK  ANCHORAGE

### Basic Operations

In [35]:
msg[msg.Quantity > 5].head()

,State,County,NSN,Item Name,Quantity,UI,aCost,Ship Date
125,AK,ANCHORAGE,1080-01-475-0696,"CAMOUFLAGE NET SYSTEM,RADAR SCATTERING",8,Each,"$1,030.00",2010-12-29 0:00
128,AK,ANCHORAGE,1240-01-411-1265,"SIGHT,REFLEX",10,Each,$328.00,2010-07-15 0:00
129,AK,ANCHORAGE,1240-01-411-1265,"SIGHT,REFLEX",10,Each,$328.00,2010-07-15 0:00
135,AK,ANCHORAGE,1240-01-540-3690,"SIGHT,REFLEX",8,Each,$340.00,2011-06-09 0:00
158,AK,ANCHORAGE,6920-01-142-2858,"TARGET HOLDING SET,TRAINING",58,Each,"$2,255.00",2011-10-28 0:00

In [39]:
msg[(msg.Quantity > 5) & (msg.Quantity < 7)].count()

State        1464
County       1464
NSN          1463
Item Name    1437
Quantity     1464
UI           1442
aCost        1464
Ship Date    1464
dtype: int64

### Sort

In [43]:
msg.sort_values("Quantity", ascending=False)[["Item Name","Quantity"]].head(6)

                                 Item Name  Quantity
52530                      WIRE,ELECTRICAL     91000
36221                SCREW,CAP,SOCKET HEAD     43822
52399  STRAP,TIEDOWN,ELECTRICAL COMPONENTS      6000
52536                          CABLE  COAX      6000
39189                   RUBBER SHEET,SOLID      6000
36226                          WASHER,FLAT      5181

In [45]:
msg.UI.value_counts().head()

Each    51581
EA      13370
Pair     1381
PR       1285
Kit       732
Name: UI, dtype: int64

##### Value counts is very usefull for a variety of reason, here we use value counts on the UI coloum, and by looking at results you can see that there are some inconsistentcies in data. Each is same as EA, and Pair is same as PR, which might be scewwing the results a bit, becuase they should be represented by same word so...
#### Replace

In [50]:
msg = msg.replace({"UI":["Each", "EA", "Pair", "PR"]},{"UI":["EACH", "EACH", "PAIR", "PAIR"]})
msg = msg.replace({"UI":"Unknown"},{"UI":np.NaN})
msg.UI.value_counts().head()

EACH    64956
PAIR     2666
Kit       732
Set       463
KT        441
Name: UI, dtype: int64

##### Lots of string fuctions by using .str

In [52]:
msg.State.str.lower().head(3)

0    ak
1    ak
2    ak
Name: State, dtype: object

### Groupby - Smushes all rows together by whatever is grouped by, then do action on it.

In [55]:
msg.groupby("State")["Quantity"].sum()

State
AK      1138
AL    180169
AR      5924
AZ    143372
CA    653521
CO     42890
CT      5051
DC      4736
DE     36542
FL     22573
Name: Quantity, dtype: int64

## Applying functions to Entire Data Frames

In [56]:
def f_addOne(x):
    return x+1

## SAME AS

addOne = lambda x: x+1

In [60]:
msg.Quantity.head().map(f_addOne)

0    2
1    2
2    2
3    2
4    2
Name: Quantity, dtype: int64

In [61]:
msg.Quantity.head().map(addOne)

0    2
1    2
2    2
3    2
4    2
Name: Quantity, dtype: int64

### Merging Datasets

In [66]:
ages = df_catAge = pd.read_csv("ages.csv")
weights = df_catWeight = pd.read_csv("weights.csv")

   age    cats
0    1   simon
1    2  pheobe
2    3  norman

In [67]:
ages

   age    cats
0    1   simon
1    2  pheobe
2    3  norman

In [68]:
weights

     cats  weight
0   simon       1
1  norman       2

In [71]:
merged = pd.merge(ages, weights, left_on="cats", right_on="cats", how="outer")
merged

   age    cats  weight
0    1   simon     1.0
1    2  pheobe     NaN
2    3  norman     2.0

## Graphs
Descritpive Statistcs don't always tell the whole story and sometimes need a graph to visualize data to help better understand it.
 
Usefull Graphing Tools

ggplots - R graphs built into Python
bookeh - Provides interactive graphing framework
Seaborn - nice statistical plots
Matplotlic - Standard, old, reliable plots for python
glue - select different parts of graph and see substs of data sets

PDF sucks, when working with PDF data you can use Tabula to graph info from PDF tables and turn then to usable CSV files.

# Takeaways

## USE PROPER TYPE
## DATA is going to be used by other people in unanticpated ways, so clean data well and readable
## Document
## Fix data before you need it fixed.
# Data is a Necessary Evil